@charset "UTF-8";

.line{
	border-style: solid;
	border-color: red;
}

.board{
	text-align: center;
	text-shadow: black;
	
}

#currentPaging{color:red; text-decoration: underline; }
#paging{color:black; text-decoration: none; }

#subjectA:link{		
	color : black; text-decoration: none;
}

#subjectA:visited{		
	color : black; text-decoration: none;
}

#subjectA:hover{
	color : green; text-decoration: underline;
}

#subjectA:active{
	color : black; text-decoration: none;
}

#paging{
	color : black;
	text-decoration : none;	
}

#currentPaging{
	color : red;	
	text-decoration : underline;
}

